<div class="video-detail">
  <img class="logo" src="./assets/minhaLogo.png" alt="Logo" />
  <a [href]="video.url" target="_blank">
    <img
      [src]="video.thumbnail"
      alt="{{ video.title }}"
      class="video-thumbnail"
      (click)="incrementViewCount()"
    />
  </a>
  <h2>{{ video.title }}</h2>
  <p>{{ video.description }}</p>
  <p>
    <img
      [src]="video.channel_thumbnail"
      alt="Canal"
      class="video-channel-thumbnail"
    />
  </p>
  <p class="informa"><strong>Views:</strong> {{ video.views }}</p>
  <p class="informa"><strong>Publicado em:</strong> {{ video.uploadedAt }}</p>
  <p>4,2 mil de inscritos</p>
  <img class="search-icon" src="./assets/play.png" alt="play" />
  <div class="video-actions">
    <button id="inscrever">Inscrever-se</button>
    <button class="like-button">
      <img class="search-icon" src="./assets/like.png" alt="like" />
      18 mil |
      <img class="icon" src="./assets/deslike.png" alt="deslike" />
    </button>
    <!-- Ajuste aqui para colocar o ícone dentro do botão -->
    <button class="compartilhar-button">
      <img class="icon" src="./assets/compartilhar.png" alt="compartilhar" />
      Compartilhar
    </button>
    <button>...</button>
  </div>
</div>
