.pagina-inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #141313;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.descricao {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.sub-descricao {
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 600px;
  font-weight: normal;
  color: #C8C8C8;
}

.botao-conectar {
  background-color: #897BA6;
  color: white;
  width: 150px; 
  height: 70px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botao-conectar:hover {
  background-color: #5a38a1;
}
