body {
  background-color: #141313;
  margin: 0;
  padding: 0;
  color: #4E4E4E;
  font-family: Arial, sans-serif;
}

.logo {
  width: 20%;
}

.dashboard {
  background-color: #141313;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px 40px 8px 10px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #544F4F;
  background-color: #141313;
  color: #4E4E4E;
  width: 400px;
}

.search-bar .search-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #141313;
  color: #4E4E4E;
  border: 1px solid #544F4F;
  border-radius: 30px;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.video-gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.video-thumbnail:hover {
  transform: scale(1.05);
}

.video-item {
  text-align: center;
  cursor: pointer;
  max-width: 300px;
}

.video-description {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #727272;
}

.video-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.video-channel-thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}

.video-title {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  margin: 0;
}


