<div class="dashboard">
  <div class="search-container">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Pesquisar vídeos..."
        [(ngModel)]="searchQuery"
        (input)="filterVideos()"
      />
      <img src="./icons8-pesquisar-50.png" />
    </div>

    <!-- Botão de sair -->
    <button (click)="auth.logout({ logoutParams: { returnTo: logoutUrl } })">
      Sair
    </button>

    <div *ngIf="auth.user$ | async as user">
      <img *ngIf="user.picture" [src]="user.picture" alt="Foto de perfil" class="profile-photo" />
    </div>
  </div>

  <div class="video-gallery" *ngIf="filteredVideos && filteredVideos.length > 0; else loading">
    <div class="video-item" *ngFor="let video of filteredVideos">
      <img
        [src]="video.thumbnail"
        [alt]="video.title"
        class="video-thumbnail"
        (click)="openVideo(video.url)"
      />
      <p class="video-title">{{ video.title }}</p>
      <p class="video-description">{{ video.description }}</p>
    </div>
  </div>

  <!-- Exibe mensagem de carregamento enquanto os vídeos não são carregados -->
  <ng-template #loading>
    <p>Carregando vídeos...</p>
  </ng-template>
</div>
